// based on cobalt2 by Wes Bos
highlight-background = rgb(25,53,73)
highlight-text = #f8f8f2
highlight-current-line = rgb(31,70,98)
highlight-selection = rgb(13,67,119)
highlight-foreground = #4d4d4c
highlight-comment = #08f
highlight-keyword = #ff9d00
highlight-yellow = rgb(255,198,0)
highlight-tag = rgb(158,255,255)
highlight-attribute = #3ad900
highlight-constant = rgb(255,96,127)
highlight-dec = rgb(128,255,182)


pre, code
  font-family: font-mono
  color: highlight-foreground
  background: #eee
  font-size: 0.95em
  font-weight: bold

code
  padding: 0 5px

pre
  padding: 10px 15px
  line-height: 22px
  code
    border: none
    display: block
    padding: 0

.highlight
  background: highlight-background
  border-top: 2px solid #ffc600
  padding: 10px 15px
  color: highlight-text
  overflow: auto
  margin: 0
  table
    margin: 0 !important
    border: 0
    th, td
      padding: 0
  figcaption
    clearfix()
    margin: -5px 0 5px
    font-size: 0.9em
    color: color-gray
    a
      float: right
  pre
    padding: 0
    border: none
    background: none
    color: highlight-text
  .line
    height: 22px

pre
  .comment
    color: highlight-comment
    font-style: italic
  .title
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-comment
  .variable
  .attr
  .selector-attr
  .function
  .selector-id
  .selector-class
  .javascript .function
    color: highlight-yellow
  .tag
    color: #fff
  .name
  .selector-tag
    color: highlight-tag
  .attribute
    color: highlight-dec
  .regexp
    color: #fd971f
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .meta
    color: highlight-tag
    font-style: italic
  .css .id
  .css .class
  .css .pseudo
  .keyword
    color: highlight-keyword
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-constant
  .class
  .ruby .class .title
  .css .rules .attribute
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
  .string
    color: highlight-attribute