// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #414042
color-gray = #414042
color-border = #fdb528
color-navy = #414042
color-link = #005B7E
color-link-hover = #fdb528

// Typography
font-sans = Arial, sans-serif
font-mono = "Inconsolata", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace
font-title = Lato, font-sans
font-size = 16px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 220px
mobile-nav-width = 260px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
