layout: index
description: Recommended code, CSS library, tools, and process documentation for the Lifeway Digital Product Development team.
subtitle: Lifeway eBook<br>Development Style Guide
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title
        a(href='code/') Recommended Code
      p.intro-feature-desc Recommended code for eBook components and enhancements, including coding style guidelines.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title
        a(href='css_lib/') CSS Library
      p.intro-feature-desc CSS component library for mywsb.css, along with usage examples.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title
        a(href='process/') Development Process
      p.intro-feature-desc The development process we follow and tools we use.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-newspaper-o
      h3.intro-feature-title
        a(href='news/') News
      p.intro-feature-desc Updates to this documentation will be summarized here.